extends layout

block append head
  link(rel='stylesheet', href='/stylesheets/chat.css')
  script
    var nickname = '#{nickname}';
    var channel = '#{channel}';
  script(src="/socket.io/socket.io.js")
  script(src="javascripts/CommandReader.js") 
  script(src="javascripts/irc_packet.js")
  script(src='/javascripts/chat.js')

block contents
  div.tabbable
    ul.nav.nav-tabs
      li.active
        a(href="#freenode", data-toggle='tab') freenode
      li
        a(href="#channel", data-toggle='tab') #{channel}
      li
        a(href="#test", data-toggle='tab') test
    div.tab-content
      div.tab-pane.active#freenode
        p I'm in Section1
      div.tab-pane#channel
        p I'm in Section2
      div.tab-pane#test
        p I'm in Section3
  div.row-fluid#container
    div.span8#chat
      div.page-header
        h1 hello world!
      h2 Nickname = #{nickname}
      h3 Channel = #{channel}
      div#chatBox
        label nickname
          input(type="text", id='chattingMessage', onkeypress='enterKeyEvent(event)')
    div.span4#friends
      ul.nav.nav-pills.nav-stacked
        li hann
        li hyeon0135

    

